<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-10-19 15:27:44
-->
<footer class="full-block custom-footer">
  <div class="main-block">
    <div class="top">
      <img
        src="<%= require('../assets/img/图层 1 拷贝.png').default %>"
        alt="logo"
      />
      <div class="icon-group">
        <a href=""
          ><img src="<%= require('../assets/img/fackbook.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/sns5.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/IN.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/ins.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/you-tube.png').default %>"
        /></a>
      </div>
    </div>
    <div class="bottom">
      <div class="item">
        <a href="" class="title">关于我们</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
      </div>
      <div class="item">
        <a href="" class="title">关于我们</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
      </div>
      <div class="item">
        <a href="" class="title">关于我们</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
      </div>
      <div class="item">
        <a href="" class="title">关于我们</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
        <a href="" class="s">这里文案</a>
      </div>
      <div class="item link-item">
        <div class="title">友情链接</div>
        <form class="layui-form" id="link-form" action="">
          <select name="link" lay-filter="link" id="link" class="link">
            <option value="https://www.baidu.com">链接1</option>
            <option value="https://www.qq.com">链接2</option>
            <option value="https://www.weixin.com">链接3</option>
          </select>
        </form>
      </div>
      <div class="icon-group">
        <div
          class="item"
          onclick="showPhoto('<%= require('../assets/img/组 22.png').default %>')"
        >
          <img src="<%= require('../assets/img/组 22.png').default %>" />
        </div>
        <div
          class="item"
          onclick="showPhoto('<%= require('../assets/img/组 21.png').default %>')"
        >
          <img src="<%= require('../assets/img/组 21.png').default %>" />
        </div>
      </div>
    </div>
  </div>
  <div class="beian"><a href="">ICP备案号：沪ICP备17032085号</a></div>
</footer>
<script>
  layui.use(['form'], function () {
    var form = layui.form
    form.render('select')
    form.on('select(link)', function (data) {
      var value = data.value
      window.open(value, '_blank')
    })
  })
</script>
