<div class="footer-box app-main" data-v="custom-footer">
  <div class="top block">
    <div class="item nav">
      <div class="title">翰林人才</div>
      <div class="content">
        <% [ { name:'关于我们',url:'./about.html',target:'' }, {
        name:'企业动态',url:'./news.html',target:'' },{
        name:'业务范围',url:'./service.html',target:'' },{
        name:'合作单位',url:'./company.html',target:'' },{
        name:'项目案例',url:'./example.html',target:'' },{
        name:'团队介绍',url:'./team.html',target:'' }].forEach(function(item){
        %>
        <a class="m-title" href="<%= item.url%>" target="<%= item.target%>">
          <%= item.name%>
        </a>
        <% }); %>
      </div>
    </div>
    <div class="item links">
      <div class="title">友情链接</div>
      <div class="content">
        <% [ { name:'百度网',url:'./about.html',target:'' }, {
        name:'百度网',url:'./news.html',target:'' },{
        name:'百度网',url:'./about.html',target:'' },{
        name:'百度网',url:'./company.html',target:'' },{
        name:'百度网',url:'./example.html',target:'' },{
        name:'百度网',url:'./team.html',target:'' }].forEach(function(item){ %>
        <a class="m-title" href="<%= item.url%>" target="_blank">
          <%= item.name%>
        </a>
        <% }); %>
        <div class="m-title blank">这个不要删</div>
      </div>
    </div>
    <div class="item concat">
      <div class="title">联系我们</div>
      <div class="content">
        <div class="m-title">电话：029-10000000</div>
        <div class="m-title">邮箱：XXXXXXXXXXX@QQ.com</div>
        <div class="m-title">
          地址：XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        </div>
      </div>
    </div>
    <div class="item ewm float-right">
      <div class="box">
        <img src="<%= require('../assets/img/test.png').default %>" alt="wx" />
        <p>官方公众号</p>
      </div>
      <div class="box">
        <img src="<%= require('../assets/img/test.png').default %>" alt="app" />
        <p>APP下载</p>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="company">安康市翰林人才服务有限公司 2020.4.3</div>
    <a class="beian" href="" target="_blank">备案号：XXXXXXXXXXXXX</a>
  </div>
</div>
