<header>
  <div class="header-content">
    <a href="/" class="logo">
      <img
        src="<%= require('../assets/img/logo.png').default %>"
        alt="logo"
        width="110"
        height="24"
      />
    </a>
    <nav class="lato-r">
      <a href="https://www.edifier.com/headphones-earphones.html" target="_blank">Headphones & Earphones</a>
      <a href="https://www.edifier.com/speakers.html" target="_blank">Speakers</a>
      <a href="https://www.edifier.com/news.html"  target="_blank">News & Blog</a>
      <a href="https://www.edifier.com/support.html" target="_blank">Support</a>
      <a href="/">#CreatorMeetsEdifier</a>
    </nav>
    <div class="operate lato-r">
      <!-- <a href="">
        <img
          src="<%= require('../assets/img/search.png').default %>"
          alt="search"
          width="16"
          height="16"
        />
      </a> -->
      <a href="https://mall.edifier.com/" target="_blank">
        <img
          src="<%= require('../assets/img/shop.png').default %>"
          alt="shop"
          width="16"
          height="16"
        />
        <span>shop</span>
      </a>
      <a href="https://www.edifier.com/country-site.html" target="_blank">
        <img
          src="<%= require('../assets/img/global-site.png').default %>"
          alt="global-site"
          width="16"
          height="16"
        />
        <span>Global Site</span>
      </a>
    </div>
  </div>
  <div class="header-content-mobile">
    <img
      src="<%= require('../assets/img/menu.png').default %>"
      alt="menu"
      class="menu"
      id="menu"
    />
    <a href="/" class="logo">
      <img
        src="<%= require('../assets/img/logo.png').default %>"
        alt="logo"
        width="100%"
        height="100%"
      />
    </a>
    <div>
      <!-- <a href="/" class="search">
        <img
          src="<%= require('../assets/img/search.png').default %>"
          alt="shop"
          width="100%"
          height="100%"
        />
      </a> -->
      <a href="https://mall.edifier.com/" class="shop" target="_blank">
        <img
          src="<%= require('../assets/img/shop.png').default %>"
          alt="shop"
          width="100%"
          height="100%"
        />
      </a>
    </div>
    <ul id="mobile-menu" class="lato-r">
      <li>
        <a href="https://www.edifier.com/headphones-earphones.html" target="_blank">Headphones & Earphones</a>
      </li>
      <li>
        <a href="https://www.edifier.com/speakers.html" target="_blank">Speakers</a>
      </li>
      <li>
        <a href="https://www.edifier.com/news.html" target="_blank">News & Blog</a>
      </li>
      <li>
        <a href="https://www.edifier.com/support.html" target="_blank">Support</a>
      </li>
      <li>
        <a href="/">#CreatorMeetsEdifier</a>
      </li>
    </ul>
  </div>
</header>
