<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-06-24 13:49:41
-->
<header id="custom-header">
  <div class="main-block">
    <a href="" class="logo">
      <img
        src="<%= require('../assets/img/图层 1.png').default %>"
        alt="logo"
      />
    </a>
    <nav>
      <% [ { name:'首页', url:'./index.html',target:'' }, {
      name:'关于我们',url:'./about.html',target:'' }, {
      name:'新闻动态',url:'./news.html',target:'' },{
      name:'产品目录',url:'./goods.html',target:'',hasChild:1 },{
      name:'联系我们',url:'./contactus.html',target:''
      }].forEach(function(item){ %> <% if(obj == item.url) { %>
      <div class="item active">
        <a href="<%= item.url%>" target="<%= item.target%>">
          <span><%= item.name%></span>
        </a>
      </div>
      <% } else { %>
      <div class="item">
        <a href="<%= item.url%>" target="<%= item.target%>">
          <span><%= item.name%></span>
        </a>
        <div class="child">
          <a href="" class="child-i">二级菜单</a>
          <a href="" class="child-i">二级菜单</a>
        </div>
      </div>
      <% } %> <% }); %>
      <div class="hr"></div>
    </nav>
    <div class="search-btn">
      <img
        onclick="headerSearch()"
        src="<%= require('../assets/img/search.png').default %>"
        alt="search"
        class="search-icon"
      />
    </div>
    <div class="options">
      <a class="item" href="">
        <img
          src="<%= require('../assets/img/zhongguo-.png').default %>"
          class="flag"
        />
        <span>中文</span>
        <!-- <img
          src="<%= require('../assets/img/0 拷贝.png').default %>"
          class="icon"
        /> -->
      </a>
      <a class="item" href="">
        <img
          src="<%= require('../assets/img/yingwen.png').default %>"
          class="flag"
        />
        <span>En</span>
        <!-- <img
          src="<%= require('../assets/img/0 拷贝.png').default %>"
          class="icon"
        /> -->
      </a>
    </div>
  </div>
</header>
<div class="header-blank-block"></div>
<img
  src="<%= require('../assets/img/组 207 拷贝 2.png').default %>"
  class="icon"
  id="to-top"
/>
<script>
  window.headerSearch = function () {
    layer.prompt(
      {
        offset: '100px',
        formType: 0,
        value: '',
        title: '请输入搜索内容',
        area: ['800px', '50px'], //自定义文本域宽高
      },
      function (value, index, elem) {
        alert(value) //得到value
        layer.close(index)
      }
    )
  }
</script>
