<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-06-26 12:04:29
-->
<footer class="full-block custom-footer">
  <div class="main-block">
    <div class="top">
      <img
        class="logo"
        src="<%= require('../assets/img/图层 1 拷贝.png').default %>"
        alt="logo"
      />
      <div class="icon-group">
        <a href=""
          ><img src="<%= require('../assets/img/fackbook.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/sns5.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/IN.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/ins.png').default %>"
        /></a>
        <a href=""
          ><img src="<%= require('../assets/img/you-tube.png').default %>"
        /></a>
      </div>
    </div>
  </div>
  <div class="beian">
    <p>opyright © 2019 XXXXXX科技（上海）有限公司</p>
    <a href="">ICP备案号：沪ICP备17032085号</a>
  </div>
</footer>
