<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-06-26 18:32:17
-->
<header id="custom-header">
  <div class="main-block">
    <div class="menu-btn search-btn">
      <img
        onclick="toggleMenu()"
        src="<%= require('../assets/img/微信截图_20200626112616.png').default %>"
        alt="search"
        class="menu-icon search-icon"
      />
    </div>
    <a href="" class="logo">
      <img
        src="<%= require('../assets/img/图层 1.png').default %>"
        alt="logo"
      />
    </a>
    <nav>
      <% [ { name:'首页', url:'./mindex.html',target:'' }, {
      name:'关于我们',url:'./mabout.html',target:'' }, {
      name:'新闻动态',url:'./mnews.html',target:'' },{
      name:'产品目录',url:'./mgoods.html',target:'',hasChild:1 },{
      name:'联系我们',url:'./mcontactus.html',target:''
      }].forEach(function(item){ %> <% if(obj == item.url) { %>
      <div class="item active">
        <a href="<%= item.url%>" target="<%= item.target%>">
          <span><%= item.name%></span>
        </a>
      </div>
      <% } else { %>
      <div class="item has-child">
        <div class="name">
          <span><%= item.name%></span>
          <div class="right-icon layui-icon-right layui-icon"></div>
        </div>
        <div class="child">
          <a href="" class="child-i">二级菜单</a>
          <a href="" class="child-i">二级菜单</a>
        </div>
      </div>
      <% } %> <% }); %>
      <div class="hr"></div>
    </nav>
    <div class="search-btn">
      <img
        onclick="headerSearch()"
        src="<%= require('../assets/img/search.png').default %>"
        alt="search"
        class="search-icon"
      />
    </div>
    <!-- <div class="options">
      <a class="item" href="">
        <img
          src="<%= require('../assets/img/zhongguo-.png').default %>"
          class="flag"
        />
        <span>中文</span>
      </a>
      <a class="item" href="">
        <img
          src="<%= require('../assets/img/yingwen.png').default %>"
          class="flag"
        />
        <span>En</span>
      </a>
    </div> -->
  </div>
</header>
<div class="header-blank-block"></div>
<img
  src="<%= require('../assets/img/组 207 拷贝 2.png').default %>"
  class="icon"
  id="to-top"
/>
<script>
  window.headerSearch = function () {
    layer.prompt(
      {
        offset: '100px',
        formType: 0,
        value: '',
        title: '请输入搜索内容',
        area: ['800px', '50px'], //自定义文本域宽高
      },
      function (value, index, elem) {
        alert(value) //得到value
        layer.close(index)
      }
    )
  }
  window.toggleMenu = function () {
    $('nav').fadeToggle()
  }
  $('nav .item.has-child').click(function (e) {
    $(e.currentTarget).children('.child').toggle()
    $(e.currentTarget).children('.name').children('.right-icon').toggleClass('show')
  })
</script>
