<div class="v2-car-tab car-tab aniview" data-av-animation="fadeInUp">
  <div class="tt-title">产品目录&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="layui-tab" lay-filter="cartab">
    <ul class="layui-tab-title">
      <li lay-id="0">
        <img
          src="<%= require('../assets/img/矢量智能对象@2x.png').default %>"
        />
        <img
          class="choose-icon"
          src="<%= require('../assets/img/矢量智能对象@2x - 副本.png').default %>"
        />
        <img
          class="bg-icon"
          src="<%= require('../assets/img/矩形 649.png').default %>"
        />
        <img
          class="bg-icon choose-bg-icon"
          src="<%= require('../assets/img/矩形 649 - 副本.png').default %>"
        />
        <!-- <p>乘用车&轻卡</p> -->
      </li>
      <li lay-id="1">
        <img src="<%= require('../assets/img/huoche.png').default %>" />
        <img
          class="choose-icon"
          src="<%= require('../assets/img/huoche - 副本.png').default %>"
        />
        <img
          class="bg-icon"
          src="<%= require('../assets/img/矩形 649 拷贝.png').default %>"
        />
        <img
          class="bg-icon choose-bg-icon"
          src="<%= require('../assets/img/矩形 649 拷贝 - 副本.png').default %>"
        />
        <!-- <p>卡车&客车</p> -->
      </li>
      <li lay-id="2">
        <img src="<%= require('../assets/img/forklift_right.png').default %>" />
        <img
          class="choose-icon"
          src="<%= require('../assets/img/forklift_right - 副本.png').default %>"
        />
        <img
          class="bg-icon"
          src="<%= require('../assets/img/矩形 649 拷贝.png').default %>"
        />
        <img
          class="bg-icon choose-bg-icon"
          src="<%= require('../assets/img/矩形 649 拷贝 - 副本.png').default %>"
        />
        <!-- <p>叉车</p> -->
      </li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item">
        <form class="layui-form" action="">
          <select
            name="city"
            id="region0"
            lay-filter="s1"
            class="region"
          ></select>
          <div class="searchbox" id="chejia">
            <input
              type="text"
              name="chejia"
              value=""
              placeholder="请输入车架号"
              class="layui-input searchbox-input"
            />
            <button
              type="button"
              name="chejia"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>

          <div class="searchbox" id="peijian">
            <input
              type="text"
              name="peijian"
              value=""
              placeholder="请输入配件号"
              class="layui-input searchbox-input"
            />
            <button
              type="button"
              name="peijian"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>

          <div class="searchbox" id="chexing">
            <input
              type="text"
              name="chexing"
              value=""
              placeholder="通过车型搜索"
              class="layui-input searchbox-input"
              readonly=""
            />
            <button
              type="button"
              name="chexing"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>
        </form>
      </div>
      <div class="layui-tab-item">
        <form class="layui-form" action="">
          <select
            name="city"
            id="region1"
            lay-filter="s1"
            class="region"
          ></select>

          <div class="searchbox" id="chejia">
            <input
              type="text"
              name="chejia"
              value=""
              placeholder="请输入车架号"
              class="layui-input searchbox-input"
            />
            <button
              type="button"
              name="chejia"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>

          <div class="searchbox" id="peijian">
            <input
              type="text"
              name="peijian"
              value=""
              placeholder="请输入配件号"
              class="layui-input searchbox-input"
            />
            <button
              type="button"
              name="peijian"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>

          <div class="searchbox" id="chexing">
            <input
              type="text"
              value=""
              placeholder="通过车型搜索"
              class="layui-input searchbox-input"
              readonly=""
            />
            <button
              type="button"
              name="chexing"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>
        </form>
      </div>
      <div class="layui-tab-item">
        <form class="layui-form" action="">
          <select
            name="city"
            id="region2"
            lay-filter="s1"
            class="region"
          ></select>

          <div class="searchbox" id="chejia">
            <input
              type="text"
              name="chejia"
              value=""
              placeholder="请输入车架号"
              class="layui-input searchbox-input"
            />
            <button
              type="button"
              name="chejia"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>

          <div class="searchbox" id="peijian">
            <input
              type="text"
              name="peijian"
              value=""
              placeholder="请输入配件号"
              class="layui-input searchbox-input"
            />
            <button
              type="button"
              name="peijian"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>

          <div class="searchbox" id="chexing">
            <input
              type="text"
              value=""
              name="chexing"
              placeholder="通过车型搜索"
              class="layui-input searchbox-input"
              readonly=""
            />
            <button
              type="button"
              name="chexing"
              class="layui-btn layui-btn-sm layui-btn-primary searchbox-btn"
            >
              <i class="layui-icon">&#xe602;</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // window.queryRegionUrl = "{:url('api/Index/getRegion')}"
  window.queryRegionUrl = 'http://www.kabis.com.cn/api/Index/getRegion.html'
</script>
