<!DOCTYPE html>
<html>
  <%= require('../../templates/head.ejs')('业务范围') %>
  <body>
    <%= require('../../templates/header.ejs')('./service.html') %>
    <div class="blank" data-v="custom-blank"></div>
    <div class="app-main">
      <div class="block">
        <%= require('../../templates/top.ejs')(['业务范围']) %>
        <div class="box clear">
          <%= require('../../templates/left.ejs')([]) %>
          <div class="center float-left" data-v="custom-center">
            <div class="article-title">主要从事以下业务：</div>
            <div class="article-content">
              人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包人事派遣、人事外包、岗位承包
            </div>
            <%= require('../../templates/page.ejs')() %>
          </div>
          <%= require('../../templates/right.ejs')() %>
        </div>
      </div>
    </div>
    <%= require('../../templates/footer.ejs')('./index.html') %>
  </body>
</html>
