<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-10-19 21:10:56
-->
<!DOCTYPE html>
<html lang="zh-CN">
  <%= require('../../templates/head.ejs')('产品中心') %>
  <body>
    <%= require('../../templates/header.ejs')('./product.html') %>
    <div class="banner-normal">
      <img
        src="<%= require('../../assets/img/v2/banner_05.png').default %>"
        alt=""
      />
    </div>
    <div class="full-block full-block-1">
      <div class="main-block">
        <div class="title aniview" data-av-animation="fadeInUp">制动总泵</div>
        <div class="block aniview" data-av-animation="fadeInUp">
          <div class="img">
            <img
              src="<%= require('../../assets/img/v2/图层7.png').default %>"
              alt=""
            />
          </div>
          <div class="t">
            <div class="t-title">制动总泵</div>
            <div class="t-desc">
              KABIS售后制动总泵是由一系列具有原厂品质的高级制动部件组装而成，使您无后顾之忧。
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="full-block full-block-2">
      <div class="main-block aniview" data-av-animation="fadeInUp">
        <div class="title">KABIS汽车售后的制动总阀具有下列特性</div>
        <ul>
          <li>配有符合美国SAE技术标准的防老化、高性能橡胶密封件</li>
          <li>
            铸铝壳体选用特殊材质，缸体材质缜密。经硬质氧化后外观表面精美，其缸体表面硬度达到HV280~350、耐腐蚀试验满足240小时要求
          </li>
          <li>铸铁壳体采用HT250高性能材质</li>
          <li>
            弹簧采用进口高性能的琴钢丝，回位更加迅速、工作平顺且无弹簧噪音、耐久性能更佳
          </li>
          <li>采用OE原厂设计，具有较好的补油性能及放气性能</li>
          <li>所有产品在生产中均经过100%生产线终端测试</li>
        </ul>
      </div>
    </div>

    <div class="full-block full-block-3">
      <div class="main-block aniview" data-av-animation="fadeInUp">
        <div class="c">
          <div class="img">
            <div class="title">试验</div>
            <div class="desc">
              我们根据最高安全标准对制动总泵的各个元件进行评估，所有KABIS汽车售后制动总泵均经过成品测试，以确保符合原装标准。
            </div>
          </div>
          <ul>
            <div class="u-title">
              我们制动总泵中的所有橡胶部件必须符合下列原装设备验收标准
            </div>
            <li>高拉伸强度和撕裂强度</li>
            <li>低压缩形变（最大20%）</li>
            <li>优秀的耐制动液性能（120°C经336小时后橡胶尺寸变化最大2%）</li>
            <div class="u-desc">
              优质的缸体材质很大提高产品表面耐磨性能，更好提高产品耐久性能所有弹簧均满足100万次耐久试验
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="full-block full-block-4">
      <div class="main-block aniview" data-av-animation="fadeInUp">
        <div class="c">
          <ul>
            <div class="u-title">售后质量承诺</div>
            <div class="u-desc">
              KABIS汽车售后制动总泵凭借符合原厂技术标准的橡胶密封件、耐腐蚀和耐磨损表面的铝制缸体，HT250高性能铸铁材质及技术，为您提供3年或10万公里售后产品质量保证。
            </div>
          </ul>
          <div class="img"></div>
        </div>
      </div>
    </div>

    <%= require('../../templates/footer.ejs')() %>
  </body>
</html>
