<!DOCTYPE html>
<html>
  <%= require('../../templates/head.ejs')('企业动态') %>
  <body>
    <%= require('../../templates/header.ejs')('./news.html') %>
    <div class="blank" data-v="custom-blank"></div>
    <div class="app-main">
      <div class="block">
        <%= require('../../templates/top.ejs')(['企业动态','最新消息']) %>
        <div class="box clear">
          <%=
          require('../../templates/left.ejs')([{href:'',name:'最新消息'},{href:'',name:'2020年4月'}])
          %>
          <div class="center float-left" data-v="custom-center">
            <ul class="list">
              <% [1,2,3,4,5,6].forEach(function(item){ %>
              <li>
                <a href="./article.html">
                  安康市翰林人才服务有限公司关于XXXXXX安康市翰林人才服务有限公司关于XXXXXX安康市翰林人才服务有限公司关于XXXXXX安康市翰林人才服务有限公司关于XXXXXX
                </a>
              </li>
              <% }); %>
            </ul>
            <%= require('../../templates/page.ejs')() %>
          </div>
          <%= require('../../templates/right.ejs')() %>
        </div>
      </div>
    </div>
    <%= require('../../templates/footer.ejs')('./index.html') %>
  </body>
</html>
