<!--
 * @Description: 
 * @Author: jml
 * @Date: 2020-05-24 10:33:47
 * @LastEditors: jml
 * @LastEditTime: 2020-10-19 22:22:57
-->
<!DOCTYPE html>
<html lang="zh-CN">
  <%= require('../../templates/head.ejs')('首页') %>
  <body>
    <%= require('../../templates/header.ejs')('./index.html') %>
    <div class="banner-normal">
      <img
        src="<%= require('../../assets/img/v2/banner_05.png').default %>"
        alt=""
      />
    </div>
    <div class="full-block full-block-0">
      <div class="main-block">
        <div class="title aniview" data-av-animation="fadeInUp">产品搜索</div>
        <div class="desc aniview" data-av-animation="fadeInUp">
          <div class="desc-1">
            感谢您选择了kabis.com.cn网站！有了它，您可以比以往更快，更轻松地找到合适的零件。我们的产品目录分为3个明确标记的部分，包括更新内容和一个应用部分。此外还包括内容深入的买家指南，其中带有图表、安装尺寸、制动模式来帮助识别。
          </div>
        </div>
        <div class="hr aniview" data-av-animation="fadeInUp"></div>
        <div class="desc aniview" data-av-animation="fadeInUp">
          <div class="desc-2">
            我们不断努力成为行业创新者，采用100％新材料制成新卡钳、制动主缸、冷却水泵，KABIS一直在寻找革新售后市场的方法并与竞争对手区分开来，为全球消费者提供了同等或更高质量的替代品及维修市场最高保修年限。从制动零件到电子元件，从卡钳到液压系统，KABIS都能生产出覆盖范围广的可靠的制动零件。我们所有的产品都经过广泛的测试，因此您可以确定购买的是可靠安全的产品。
          </div>
        </div>
      </div>
    </div>
    <div class="full-block full-block-1">
      <div class="main-block">
        <%= require('../../templates/search.ejs')() %>
        <%= require('../../templates/search-list.ejs')() %>
        <div class="title aniview" data-av-animation="fadeInUp">目录下载</div>
        <div class="aniview" data-av-animation="fadeInUp">
          <div class="d-list">
            <div class="d-list-item">
              <img
                src="<%= require('../../assets/img/v2/img_04.png').default %>"
                alt=""
              />
              <div class="name">奥迪通讯录</div>
            </div>
            <div class="d-list-item">
              <img
                src="<%= require('../../assets/img/v2/img_05.png').default %>"
                alt=""
              />
              <div class="name">奥迪通讯录</div>
            </div>
            <div class="d-list-item">
              <img
                src="<%= require('../../assets/img/v2/img_06.png').default %>"
                alt=""
              />
              <div class="name">奥迪通讯录</div>
            </div>
            <div class="d-list-item">
              <img
                src="<%= require('../../assets/img/v2/img_07.png').default %>"
                alt=""
              />
              <div class="name">奥迪通讯录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= require('../../templates/footer.ejs')() %>
  </body>
</html>
